/* Container for the entire layout */
.container {
    display: flex;
    flex-direction: row; /* Align sidebar and chessboard horizontally */
    align-items: flex-start; /* Align the sidebar and chessboard at their tops */
}

/* The side navigation */
.sidenav {
    width: 300px; /* Fixed width of the sidebar */
    background: #f8f8f8;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto; /* Scrollbar if necessary */
}

#instruction {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 15px; /* Space between elements */
    margin-top: 50px;
    margin-bottom: 70px;
}

#tactic {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 20px; /* Space between elements */
    margin-top: 0px;
    margin-bottom: 50px;
}



/* Tooltip styles */
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -50px;
    left: 30%;
    transform: translateX(-50%);
    background: #b4ddc0;
    color: #080202;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

[data-tooltip]:hover::before {
    opacity: 1;
}


/* Style for search input within Tactic */
#tactic input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for Get button in Instruction and Search button in Tactic */
#instruction button, #tactic button {
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Chessboad */
.chessboard {
    flex-grow: 1; /* Allow the content to grow and fill the available space */
    overflow: auto; /* Add scroll to content if necessary */
    padding: 20px;
    box-sizing: border-box; /* Border and padding included in width */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidenav {
        width: 100%; /* Sidebar takes full width */
        min-width: 0; /* Override the minimum width */
        height: auto; /* Adjust height accordingly */
    }
    .chessboard {
        width: 100%; /* Full width */
        margin-top: 20px; /* Space between sidebar and chessboard */
    }
}

.sidenav h3 {
    margin: 0 0 10px 0;
    padding: 0;
}

/* Styles for other elements inside sidebar */
.nav-button {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ddd;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.bold-text {
    font-weight: bold;
}

.nav-button.active {
    background-color: rgb(219, 198, 130);
}

.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}
